*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 1rem;
}

.logo{
    max-width: 50%;
}

.logo img{
    max-width: 100%;
}

.profile-img img{
    max-width: 100%;
}